clientes/tetris/n8n/Extractor_de_Facturas_WhatsApp.json
{
  "name": "Extractor de Facturas v4 - WhatsApp + Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-facturas",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        1200
      ],
      "id": "v3000001-0000-0000-0000-000000000001",
      "name": "WhatsApp Trigger",
      "webhookId": "v3000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Parse WhatsApp Cloud API webhook structure\nconst body = $json.body || $json;\nconst change = body?.entry?.[0]?.changes?.[0]?.value;\nconst messages = change?.messages;\n\n// Skip status updates, delivery receipts, etc. (no messages array)\nif (!messages || messages.length === 0) {\n  return [];\n}\n\nconst msg = messages[0];\nconst chatId = String(msg.from);              // sender phone number e.g. \"5491112345678\"\nconst texto = msg.text?.body || msg.image?.caption || '';\nconst hasPhoto = msg.type === 'image';\nconst mediaId = hasPhoto ? msg.image?.id : null;\nconst phoneNumberId = change?.metadata?.phone_number_id; // business phone number ID\n\nreturn [{ json: {\n  texto,\n  chatId,\n  hasPhoto,\n  mediaId,\n  phoneNumberId,\n  // Normalized .message for nodes that reference $json.chatId downstream\n  message: {\n    chat: { id: chatId },\n    from: { id: chatId }\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        1200
      ],
      "id": "ca99a568-e470-44d2-bac2-ddcdf32d56f9",
      "name": "Preparar entrada"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lQx8OcjpMQhcePpg",
          "mode": "list",
          "cachedResultName": "telegram_user_state",
          "cachedResultUrl": "/projects/YGRIGfkDbehXLfYq/datatables/lQx8OcjpMQhcePpg"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $json.chatId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        1200
      ],
      "id": "ab94261f-c67e-46b4-adb0-77bde8f19545",
      "name": "Consultar estado usuario",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst step = input.step || \"idle\";\nlet expired = false;\nif (input.updatedAt && step !== \"idle\") {\n  const diffMin = (Date.now() - new Date(input.updatedAt).getTime()) / 60000;\n  if (diffMin > 10) expired = true;\n}\nreturn [{ json: { ...input, step: expired ? \"idle\" : step, expired } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        1200
      ],
      "id": "be010b43-38cf-439a-afed-c8018648962a",
      "name": "Preparar estado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "exp-check-001",
              "leftValue": "={{ $json.expired === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        1200
      ],
      "id": "aaa00002-0000-0000-0000-000000000002",
      "name": "IF sesión expirada"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "lQx8OcjpMQhcePpg",
          "mode": "list",
          "cachedResultName": "telegram_user_state",
          "cachedResultUrl": "/projects/YGRIGfkDbehXLfYq/datatables/lQx8OcjpMQhcePpg"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $('Preparar entrada').first().json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        336,
        1360
      ],
      "id": "aaa00003-0000-0000-0000-000000000003",
      "name": "Limpiar estado expirado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Preparar entrada').first().json.chatId, type: \"text\", text: { preview_url: false, body: \"⏱️ La sesión anterior expiró (más de 10 min). Enviá la foto de la factura para comenzar.\" } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        1360
      ],
      "id": "aaa00001-0000-0000-0000-000000000001",
      "name": "Aviso sesión expirada",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{\n  $json.step === undefined || $json.step === null || $json.step === \"idle\" ? 0 :\n  $json.step === \"waiting_assignment\" ? 1 :\n  0\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        336,
        1200
      ],
      "id": "v2000001-0000-0000-0000-000000000001",
      "name": "Router Estado v2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "foto-check-v3",
              "leftValue": "={{ $('Preparar entrada').first().json.hasPhoto === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        960
      ],
      "id": "v2000002-0000-0000-0000-000000000002",
      "name": "IF tiene foto v2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Preparar entrada').first().json.chatId, type: \"text\", text: { preview_url: false, body: \"👋 Enviá una foto de la factura o comprobante para cargarlo.\" } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        784,
        1100
      ],
      "id": "v2000003-0000-0000-0000-000000000003",
      "name": "Mensaje bienvenida",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "perm-check-v3-1",
              "leftValue": "={{ $('Preparar entrada').first().json.chatId }}",
              "rightValue": "NUMERO_TELEFONO_1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        820
      ],
      "id": "6a10d659-9ac2-47bc-b54a-3d940b076590",
      "name": "Validar permiso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Preparar entrada').first().json.chatId, type: \"text\", text: { preview_url: false, body: \"🔒 No tenés permisos para usar este bot. Solicitá permiso para ser incluído.\" } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1008,
        960
      ],
      "id": "8ba98474-78a5-4450-8b09-9e929e5166d5",
      "name": "Send a text message",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.mediaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1008,
        680
      ],
      "id": "v3000002-0000-0000-0000-000000000002",
      "name": "Obtener URL media"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1232,
        680
      ],
      "id": "v3000003-0000-0000-0000-000000000003",
      "name": "Descargar media"
    },
    {
      "parameters": {
        "name": "=tmp_{{ $now.toFormat(\"yyyy-MM-dd_HH-mm-ss\") }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1q6QGqzRjJ5v6tBBL8maq25ZGEHJ0ZeyU",
          "mode": "id"
        },
        "options": {
          "ocrLanguage": "es",
          "useContentAsIndexableText": true,
          "simplifyOutput": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        680
      ],
      "id": "1f93ef53-4439-4d2a-99f1-fca006b48f15",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hV8sl0WdQmTAcGhM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const upload = $input.first().json;\nconst fileData = $('Descargar media').first();   // binary comes from WhatsApp download\nconst comprobanteUrl = upload.webViewLink || upload.webContentLink ||\n  `https://drive.google.com/file/d/${upload.id}/view`;\nreturn [{ json: { comprobanteUrl, uploadedFileId: upload.id }, binary: fileData.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        680
      ],
      "id": "af3190da-39ac-4caa-b552-0f8d32915681",
      "name": "Preparar contexto obra"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_HaEtyhS5SOo6RmVqhSIkXcNRNuNQsrcBr8ngSozV9s",
          "mode": "list",
          "cachedResultName": "Configuracion_Obras",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_HaEtyhS5SOo6RmVqhSIkXcNRNuNQsrcBr8ngSozV9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_HaEtyhS5SOo6RmVqhSIkXcNRNuNQsrcBr8ngSozV9s/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Activa",
              "lookupValue": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2576,
        680
      ],
      "id": "065df19a-278a-4dc0-a577-043f4d61dd99",
      "name": "Consultar obras activas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EZXZzmdw3CSrBA5p",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const expenseData = $('Normalizar extracción').first().json;\nconst obras = $input.all().map(i => i.json);\n\nlet menuLines = '';\nfor (const o of obras) {\n  menuLines += `${o.Numero}E · ${o.Obra} — Egreso CCH\\n`;\n  menuLines += `${o.Numero}I · ${o.Obra} — Ingreso CCH\\n`;\n  menuLines += `${o.Numero}C · ${o.Obra} — Pago cliente\\n`;\n}\n\nconst unclearNote = expenseData.unclear\n  ? '\\n⚠️ Imagen poco clara. Igualmente indicá la obra para archivarla en revisión.\\n'\n  : '';\n\nconst mensaje = [\n  '📋 Comprobante recibido:',\n  `Proveedor: ${expenseData.proveedor || '(no detectado)'}`,\n  `Monto: $${expenseData.ars || '?'}`,\n  `Fecha: ${expenseData.fecha || '?'}`,\n  `Concepto: ${expenseData.concepto || '?'}`,\n  unclearNote,\n  '¿A qué obra y tipo asignás este gasto?\\n',\n  menuLines.trim(),\n  '\\nRespondé con código (ej: 1E, 2I, 1C) o escribí cancelar.'\n].join('\\n');\n\nreturn [{ json: { mensaje, obras, expenseData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        680
      ],
      "id": "v2000005-0000-0000-0000-000000000005",
      "name": "Armar menú asignación"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "lQx8OcjpMQhcePpg",
          "mode": "list",
          "cachedResultName": "telegram_user_state",
          "cachedResultUrl": "/projects/YGRIGfkDbehXLfYq/datatables/lQx8OcjpMQhcePpg"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $('Preparar entrada').first().json.chatId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chatId": "={{ $('Preparar entrada').first().json.chatId }}",
            "step": "waiting_assignment",
            "obrasJson": "={{ JSON.stringify($('Armar menú asignación').item.json.obras) }}",
            "pendingExpenseJson": "={{ JSON.stringify($('Normalizar extracción').item.json) }}",
            "uploadedFileId": "={{ $('Preparar contexto obra').item.json.uploadedFileId }}"
          },
          "matchingColumns": [
            "chatId"
          ],
          "schema": [
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "obrasJson",
              "displayName": "obrasJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pendingExpenseJson",
              "displayName": "pendingExpenseJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "uploadedFileId",
              "displayName": "uploadedFileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selectedObra",
              "displayName": "selectedObra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selectedSpreadsheetId",
              "displayName": "selectedSpreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selectedSheetName",
              "displayName": "selectedSheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "operationType",
              "displayName": "operationType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interesado",
              "displayName": "Interesado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "folderFacturasId",
              "displayName": "folderFacturasId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "folderRevisionId",
              "displayName": "folderRevisionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3024,
        680
      ],
      "id": "v2000006-0000-0000-0000-000000000006",
      "name": "Guardar estado waiting_assignment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Preparar entrada').first().json.chatId, type: \"text\", text: { preview_url: false, body: $('Armar menú asignación').item.json.mensaje } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3248,
        680
      ],
      "id": "v2000007-0000-0000-0000-000000000007",
      "name": "Enviar menú asignación",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const text = ($('Preparar entrada').first().json.texto || '').trim();\nconst state = $json;\nconst obras = JSON.parse(state.obrasJson || '[]');\n\nif (text.toLowerCase() === 'cancelar') {\n  return [{ json: { valid: false, cancel: true, message: '' } }];\n}\n\nconst match = text.match(/^(\\d+)([EICeic])$/);\nif (!match) {\n  return [{ json: { valid: false, cancel: false,\n    message: '⚠️ Código inválido. Usá número + letra, por ejemplo: 1E, 2I, 1C\\n\\nO escribí cancelar.' } }];\n}\n\nconst obraNum = match[1];\nconst tipoCode = match[2].toUpperCase();\nconst tipoMap = { E: 'egreso', I: 'ingreso', C: 'doble' };\nconst selected = obras.find(o => String(o.Numero) === String(obraNum));\n\nif (!selected) {\n  return [{ json: { valid: false, cancel: false,\n    message: `⚠️ Obra ${obraNum} no existe. Revisá el listado y respondé de nuevo.` } }];\n}\n\nreturn [{ json: {\n  valid: true, cancel: false,\n  operationType: tipoMap[tipoCode],\n  selectedObra: selected.Obra,\n  selectedSpreadsheetId: selected.SpreadsheetId,\n  selectedSheetName: selected.SheetName,\n  selectedInteresado: selected.Interesado || '',\n  folderFacturasId: selected.FolderFacturasId || '',\n  folderRevisionId: selected.FolderRevisionId || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1440
      ],
      "id": "v2000008-0000-0000-0000-000000000008",
      "name": "Validar asignación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "asign-valid-001",
              "leftValue": "={{ $json.valid === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        1440
      ],
      "id": "v2000009-0000-0000-0000-000000000009",
      "name": "IF asignación válida"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cancel-check-v2",
              "leftValue": "={{ $json.cancel === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        1600
      ],
      "id": "v2000010-0000-0000-0000-000000000010",
      "name": "IF es cancelación"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Preparar entrada').first().json.chatId, type: \"text\", text: { preview_url: false, body: $('Validar asignación').item.json.message } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1232,
        1740
      ],
      "id": "v2000011-0000-0000-0000-000000000011",
      "name": "Error código inválido",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "lQx8OcjpMQhcePpg",
          "mode": "list",
          "cachedResultName": "telegram_user_state",
          "cachedResultUrl": "/projects/YGRIGfkDbehXLfYq/datatables/lQx8OcjpMQhcePpg"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $('Preparar entrada').first().json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        1600
      ],
      "id": "aaa00008-0000-0000-0000-000000000008",
      "name": "Limpiar estado cancelación"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Preparar entrada').first().json.chatId, type: \"text\", text: { preview_url: false, body: \"❌ Carga cancelada.\\n\\nPodés empezar de nuevo enviando una foto.\" } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1456,
        1600
      ],
      "id": "aaa00007-0000-0000-0000-000000000007",
      "name": "Aviso cancelación",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const state = $('Consultar estado usuario').first().json;\nconst assignment = $('Validar asignación').first().json;\nconst pendingData = JSON.parse(state.pendingExpenseJson || '{}');\nconst operationType = assignment.operationType;\nconst interesado = assignment.selectedInteresado || '';\n\nlet tipo, caja;\nif (operationType === 'ingreso') { tipo = 'Ingreso'; caja = 'CCH'; }\nelse if (operationType === 'doble') { tipo = 'Doble'; caja = interesado; }\nelse { tipo = 'Egreso'; caja = 'CCH'; }\n\nreturn [{ json: {\n  tipo, caja,\n  id: '', or: '',\n  tarea: pendingData.tarea || '',\n  concepto: pendingData.concepto || '',\n  proveedor: pendingData.proveedor || '',\n  reciboNro: pendingData.reciboNro || '',\n  fecha: pendingData.fecha || '',\n  ars: Number(pendingData.ars || 0),\n  comprobanteUrl: pendingData.comprobanteUrl || '',\n  unclear: pendingData.unclear === true,\n  operationType,\n  selectedObra: assignment.selectedObra,\n  selectedSpreadsheetId: assignment.selectedSpreadsheetId,\n  selectedSheetName: assignment.selectedSheetName,\n  folderFacturasId: assignment.folderFacturasId,\n  folderRevisionId: assignment.folderRevisionId,\n  selectedInteresado: interesado,\n  uploadedFileId: state.uploadedFileId || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1300
      ],
      "id": "v2000012-0000-0000-0000-000000000012",
      "name": "Aplicar asignación"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Aplicar asignación').item.json.uploadedFileId }}",
          "mode": "id"
        },
        "updateFields": {
          "fileName": "={{ $('Aplicar asignación').item.json.selectedObra }}_{{ $('Aplicar asignación').item.json.unclear ? $now.toFormat('yyyy-MM-dd_HH-mm-ss') : ($('Aplicar asignación').item.json.reciboNro || $now.toFormat('yyyy-MM-dd_HH-mm-ss')) }}.jpg"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1232,
        1300
      ],
      "id": "a0bf3874-fb82-46a8-bc49-9af86ebbfcb3",
      "name": "Renombrar archivo factura v2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hV8sl0WdQmTAcGhM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "unclear-v3-001",
              "leftValue": "={{ $('Aplicar asignación').item.json.unclear === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        1300
      ],
      "id": "b1000006-0000-0000-0000-000000000006",
      "name": "IF unclear v2"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Aplicar asignación').item.json.uploadedFileId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Aplicar asignación').item.json.folderRevisionId || '1q6QGqzRjJ5v6tBBL8maq25ZGEHJ0ZeyU' }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        1460
      ],
      "id": "b1000007-0000-0000-0000-000000000007",
      "name": "Mover a revisión",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hV8sl0WdQmTAcGhM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Preparar entrada').first().json.chatId, type: \"text\", text: { preview_url: false, body: \"⚠️ Factura poco clara, se dejó en la carpeta de revisión.\\n\\nPodés enviar otra foto cuando quieras.\" } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1904,
        1460
      ],
      "id": "b1000008-0000-0000-0000-000000000008",
      "name": "Mensaje factura poco clara",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "lQx8OcjpMQhcePpg",
          "mode": "list",
          "cachedResultName": "telegram_user_state",
          "cachedResultUrl": "/projects/YGRIGfkDbehXLfYq/datatables/lQx8OcjpMQhcePpg"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $('Preparar entrada').first().json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2128,
        1460
      ],
      "id": "b1000009-0000-0000-0000-000000000009",
      "name": "Limpiar estado revisión"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Aplicar asignación').item.json.uploadedFileId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Aplicar asignación').item.json.folderFacturasId || '1q6QGqzRjJ5v6tBBL8maq25ZGEHJ0ZeyU' }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        1140
      ],
      "id": "v2000013-0000-0000-0000-000000000013",
      "name": "Mover a carpeta obra",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hV8sl0WdQmTAcGhM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const gasto = $('Aplicar asignación').item.json;\nconst operationType = gasto.operationType || 'egreso';\nconst interesado = gasto.selectedInteresado || '';\nconst ars = Math.abs(Number(gasto.ars || 0));\n\nif (operationType === 'doble') {\n  return [\n    { json: { ...gasto, tipo: 'Ingreso', ars: ars, caja: interesado } },\n    { json: { ...gasto, tipo: 'Egreso', ars: -ars, caja: interesado } }\n  ];\n} else if (operationType === 'ingreso') {\n  return [{ json: { ...gasto, tipo: 'Ingreso', ars: ars } }];\n} else {\n  return [{ json: { ...gasto, tipo: 'Egreso', ars: -ars } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1140
      ],
      "id": "c5ae09a2-8c4e-491e-a145-46a6dd9cb50b",
      "name": "Leer gasto pendiente v2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.selectedSpreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.selectedSheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIPO": "={{ $json.tipo }}",
            "CAJA": "={{ $json.caja }}",
            "TAREA": "={{ $json.tarea }}",
            "CONCEPTO": "={{ $json.concepto }}",
            "PROVEEDOR": "={{ $json.proveedor }}",
            "RECIBO Nº": "={{ $json.comprobanteUrl ? '=HYPERLINK(\"' + $json.comprobanteUrl + '\",\"' + $json.reciboNro + '\")' : $json.reciboNro }}",
            "FECHA": "={{ $json.fecha }}",
            "ARS": "={{ $json.ars }}",
            "ID": "={{ $json.id }}",
            "OR": "={{ $json.or }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TIPO",
              "displayName": "TIPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAJA",
              "displayName": "CAJA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OR",
              "displayName": "OR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TAREA",
              "displayName": "TAREA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONCEPTO",
              "displayName": "CONCEPTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROVEEDOR",
              "displayName": "PROVEEDOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RECIBO Nº",
              "displayName": "RECIBO Nº",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ARS",
              "displayName": "ARS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        1140
      ],
      "id": "620e70f9-88eb-497d-b8c5-e0e1c06c9db6",
      "name": "Agregar gasto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EZXZzmdw3CSrBA5p",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "lQx8OcjpMQhcePpg",
          "mode": "list",
          "cachedResultName": "telegram_user_state",
          "cachedResultUrl": "/projects/YGRIGfkDbehXLfYq/datatables/lQx8OcjpMQhcePpg"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $('Preparar entrada').first().json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2352,
        1140
      ],
      "id": "da898c6f-9f80-45ba-b44a-9a51d8d1b1d4",
      "name": "Limpiar estado usuario",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Preparar entrada').first().json.phoneNumberId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.WHATSAPP_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Preparar entrada').first().json.chatId, type: 'text', text: { preview_url: false, body: '✅ Gasto guardado en ' + $('Aplicar asignación').item.json.selectedObra + '\\n' + $('Aplicar asignación').item.json.concepto + ' · $' + Math.abs($('Aplicar asignación').item.json.ars) + '\\n\\nPodés enviar otra foto.' } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2576,
        1140
      ],
      "id": "7dbfc2a2-2f9c-414d-80e8-093544c25d6d",
      "name": "Confirmar guardado",
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Convierte la imagen a base64 para enviar a Gemini API\nconst item = $input.first();\nconst binary = item.binary?.data;\nif (!binary) throw new Error('No se encontró imagen para procesar');\n\nconst buffer = await this.helpers.getBinaryDataBuffer(item, 'data');\nconst base64 = buffer.toString('base64');\nconst mimeType = binary.mimeType || 'image/jpeg';\n\nconst prompt = `Analizá esta imagen de factura o comprobante de pago argentino.\nExtraé los datos y respondé ÚNICAMENTE con un JSON válido con esta estructura exacta, sin bloques de código ni texto adicional:\n{\n  \"proveedor\": \"nombre del emisor o proveedor\",\n  \"ars\": número_total_sin_símbolo_de_moneda,\n  \"fecha\": \"DD/MM/YYYY\",\n  \"concepto\": \"descripción breve del producto o servicio\",\n  \"unclear\": false\n}\nReglas:\n- ars debe ser un número JS (sin $, sin puntos de miles, usa punto decimal si aplica)\n- Si algún campo no se puede leer claramente, poné null y unclear: true\n- Si la imagen NO es una factura/comprobante, respondé exactamente: {\"error\":\"no_invoice\"}\nSolo el JSON, sin texto adicional.`;\n\nconst requestBody = {\n  contents: [{\n    parts: [\n      { inline_data: { mime_type: mimeType, data: base64 } },\n      { text: prompt }\n    ]\n  }],\n  generationConfig: {\n    temperature: 0.1,\n    maxOutputTokens: 512\n  }\n};\n\nreturn [{ json: { requestBody } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        680
      ],
      "id": "v4000001-0000-0000-0000-000000000001",
      "name": "Preparar imagen Gemini"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $vars.GEMINI_API_KEY }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2128,
        680
      ],
      "id": "v4000002-0000-0000-0000-000000000002",
      "name": "Llamar Gemini"
    },
    {
      "parameters": {
        "jsCode": "// Parsea la respuesta de Gemini y devuelve la misma estructura que el antiguo \"Normalizar extracción\"\nconst response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\n// Limpiar posibles bloques de código Markdown\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Gemini no devolvió JSON válido. Respuesta: ' + text.substring(0, 300));\n}\n\nconst comprobanteUrl = $('Preparar contexto obra').first().json.comprobanteUrl || '';\nconst uploadedFileId = $('Preparar contexto obra').first().json.uploadedFileId || '';\n\nif (data.error) {\n  return [{ json: {\n    tarea: '', concepto: 'No identificado', proveedor: 'No identificado',\n    reciboNro: '', fecha: '', ars: 0,\n    comprobanteUrl, uploadedFileId,\n    unclear: true\n  }}];\n}\n\nreturn [{ json: {\n  tarea: data.tarea || '',\n  concepto: data.concepto || '',\n  proveedor: data.proveedor || '',\n  reciboNro: data.reciboNro || data.id || '',\n  fecha: data.fecha || '',\n  ars: Number(data.ars || 0),\n  comprobanteUrl,\n  uploadedFileId,\n  unclear: data.unclear === true\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        680
      ],
      "id": "v4000003-0000-0000-0000-000000000003",
      "name": "Parsear respuesta Gemini"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp-facturas",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        1400
      ],
      "id": "v4000010-0000-0000-0000-000000000010",
      "name": "WA Verificación GET",
      "webhookId": "v4000010-0000-0000-0000-000000000010"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('WA Verificación GET').first().json.query['hub.challenge'] }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -496,
        1400
      ],
      "id": "v4000011-0000-0000-0000-000000000011",
      "name": "Responder challenge"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Preparar entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar entrada": {
      "main": [
        [
          {
            "node": "Consultar estado usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar estado usuario": {
      "main": [
        [
          {
            "node": "Preparar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar estado": {
      "main": [
        [
          {
            "node": "IF sesión expirada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF sesión expirada": {
      "main": [
        [
          {
            "node": "Limpiar estado expirado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router Estado v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar estado expirado": {
      "main": [
        [
          {
            "node": "Aviso sesión expirada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Estado v2": {
      "main": [
        [
          {
            "node": "IF tiene foto v2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar asignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF tiene foto v2": {
      "main": [
        [
          {
            "node": "Validar permiso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar permiso": {
      "main": [
        [
          {
            "node": "Obtener URL media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL media": {
      "main": [
        [
          {
            "node": "Descargar media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar media": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Preparar contexto obra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto obra": {
      "main": [
        [
          {
            "node": "Preparar imagen Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar obras activas": {
      "main": [
        [
          {
            "node": "Armar menú asignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar menú asignación": {
      "main": [
        [
          {
            "node": "Guardar estado waiting_assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar estado waiting_assignment": {
      "main": [
        [
          {
            "node": "Enviar menú asignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar asignación": {
      "main": [
        [
          {
            "node": "IF asignación válida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF asignación válida": {
      "main": [
        [
          {
            "node": "Aplicar asignación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF es cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF es cancelación": {
      "main": [
        [
          {
            "node": "Limpiar estado cancelación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error código inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar estado cancelación": {
      "main": [
        [
          {
            "node": "Aviso cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar asignación": {
      "main": [
        [
          {
            "node": "Renombrar archivo factura v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renombrar archivo factura v2": {
      "main": [
        [
          {
            "node": "IF unclear v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF unclear v2": {
      "main": [
        [
          {
            "node": "Mover a revisión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mover a carpeta obra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover a revisión": {
      "main": [
        [
          {
            "node": "Mensaje factura poco clara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje factura poco clara": {
      "main": [
        [
          {
            "node": "Limpiar estado revisión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover a carpeta obra": {
      "main": [
        [
          {
            "node": "Leer gasto pendiente v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer gasto pendiente v2": {
      "main": [
        [
          {
            "node": "Agregar gasto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar gasto": {
      "main": [
        [
          {
            "node": "Limpiar estado usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar estado usuario": {
      "main": [
        [
          {
            "node": "Confirmar guardado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar imagen Gemini": {
      "main": [
        [
          {
            "node": "Llamar Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Gemini": {
      "main": [
        [
          {
            "node": "Parsear respuesta Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear respuesta Gemini": {
      "main": [
        [
          {
            "node": "Consultar obras activas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Verificación GET": {
      "main": [
        [
          {
            "node": "Responder challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "v3-whatsapp-001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7baefe39df3edbf098c2953cdcf3fc0832a183d41d1617598f12aec037b4151d"
  },
  "id": "",
  "tags": []
}