evolutivos/rag/RAG_Workflow2_Telegram.json
{
  "name": "RAG Vault — Workflow 2: Consulta Telegram",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [260, 300],
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot — vault-rag"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Embeber pregunta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_OPENAI_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.message.text }) }}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Buscar en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_SUPABASE_URL/rest/v1/rpc/match_vault_chunks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_ANON_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query_embedding: $json.data[0].embedding, match_count: 5, match_threshold: 0.7 }) }}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Construir prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "jsCode": "const question = $('Telegram Trigger').item.json.message.text;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst chunks = $input.first().json;\n\nlet contextText = '';\nlet sources = [];\n\nif (Array.isArray(chunks) && chunks.length > 0) {\n  contextText = chunks.map((c, i) =>\n    `[${i+1}] ${c.content}\\nFuente: ${c.file_path}`\n  ).join('\\n\\n---\\n\\n');\n  sources = [...new Set(chunks.map(c => c.file_path))];\n} else {\n  contextText = 'No se encontró información relevante en la vault.';\n}\n\nconst systemPrompt = `Eres el asistente de investigación del equipo. Respondés preguntas sobre RAG y los temas documentados en la vault.\\nUsá ÚNICAMENTE la información del contexto provisto.\\nSi el contexto no tiene la respuesta, decí claramente: \"No encontré información sobre esto en la vault.\"\\nAl final de tu respuesta, listá las fuentes usadas con el prefijo 📄`;\n\nconst userPrompt = `CONTEXTO:\\n${contextText}\\n\\nPREGUNTA: ${question}`;\n\nreturn [{ json: { systemPrompt, userPrompt, chatId, question, sources } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Claude — Generar respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-3-5-haiku-20241022', max_tokens: 1024, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userPrompt }] }) }}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Responder en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1360, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Construir prompt').item.json.chatId }}",
        "text": "={{ $json.content[0].text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot — vault-rag"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Embeber pregunta", "type": "main", "index": 0 }]]
    },
    "Embeber pregunta": {
      "main": [[{ "node": "Buscar en Supabase", "type": "main", "index": 0 }]]
    },
    "Buscar en Supabase": {
      "main": [[{ "node": "Construir prompt", "type": "main", "index": 0 }]]
    },
    "Construir prompt": {
      "main": [[{ "node": "Claude — Generar respuesta", "type": "main", "index": 0 }]]
    },
    "Claude — Generar respuesta": {
      "main": [[{ "node": "Responder en Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
